*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}
.page1{
    background-color: #f64740;
}

.page2{
    background-color: #3772ff;
}
.page3{
    background-color: #fdca40;
}
.page4{
    background-color: #00ffac;
}
.page5{
    background-color: #06070c;
}
.interface{
    height: 100vh;
    scroll-snap-type:y mandatory;

overflow-y: scroll;

}


section{
    height: 100vh;
    display: flex;
    align-items: center;
scroll-snap-align: start;
display: flex;
justify-content: center;
color: #fff;
position: static;
top: 0;
left: 0;

}